#root {
  padding: 0;
  max-width: 100%;
}

#left, #center, #right {
  width: 33%;
  height: 98vh;
  float: left;
  margin: 0;
}

#footer {
  min-height: 1em;
  width: 100%;
  background: #000;
  border-top: 2px solid grey;
}

#footer a{
  color: a0b4d4;
  text-decoration: none;
}

#footer a:hover{
  color: #326ce5;
  scale: 1.2;
}

#left {
  text-align: center;
}

/* debug */
#left {
  background: #0c0c0c;
}

#center {
  background: #0c0c0c;
  width: 34%;
}

#right {
  background: #0c0c0c;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #a0b4d4;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #a0b4d4;
  }
}

#clicker {
  transition: transform .2s;
}

#clicker:hover {
  transform: scale(1.2);  
}

.card {
  padding: 0;
  background: #0c0c0c;
  display: flex; 
  align-items: center; 
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #222;
  
}

.card p{
  color: #a0b4d4;
}

.cardTitle {
  font-size: 1.5em;
}

.cardLogo {
  width: 64px;
  height: 64px;
  padding: 0 30px;
  transition: transform .2s;
}

.cardLogo:hover {
  transform: scale(1.1);  
}

.padding-top-20em{
  padding-top: 20em;
}
